.display{
  display: block;
}
.hide{
  display: none;
}
@media screen and (max-width: 1000px) {
  .display{
    display: none;
  }
.hide{
  display: block;
  text-align: center;
  font-family: sans-serif;
}
}